<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competencias</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <h1>Competencias</h1>
    <nav>
    <a href="../index.html">Inicio</a>
    <a href="compe_sk2.html">Competencias.</a>
    <a href="index_3.html">Patinetas.</a>
    <a href="index_sk1.html">Nostros.</a>
</nav>

    <h2>Sitios de las Competencias</h2>
    <ul>
        <li>
            Distrito Grind Central:
Una ciudad llena de escaleras infinitas, barandas gigantes y grafitis que cambian cada noche.
<li>Avenida kick flip 360:
    Una calle larga con obstáculos móviles que aparecen y desaparecen.
</li>
        </li>

        <li>
            Plaza Ollie Infinito:
            Un parque urbano donde el suelo tiene trampas ocultas y rampas sorpresa.
        </li>

    </ul>

    <img src="../static/images/sitio1.jpg" alt="Bakers">x
    

</body>
</html>