<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nostros</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

  <nav>
    <a href="../index.html">Inicio</a>
    <a href="compe_sk2.html">Competencias.</a>
    <a href="index_3.html">Patinetas.</a>
    <a href="index_sk1.html">Nostros.</a>
</nav>
<h1>Nosotros</h1>

<img src="../static/images/group1.jpg" alt="Bakers">

<P1>

Somos un grupo de skaters que nació en la calle, no en una oficina. Empezamos patinando juntos después de clases, compartiendo tablas, cayéndonos mil veces y aprendiendo trucos entre amigos. Con el tiempo, esa pasión se convirtió en algo más grande: crear nuestras propias tablas.

Nuestro objetivo es simple: hacer tablas con estilo, resistencia y personalidad. Cada diseño que ves está inspirado en la cultura skate, el arte urbano y las historias que vivimos día a día en el asfalto.

No somos una marca gigante, y tampoco queremos serlo. Preferimos mantenernos reales, cerca de la comunidad y fieles a lo que nos gusta. Probamos cada tabla nosotros mismos, porque no venderíamos algo que no usaríamos.

Creemos en el skate como una forma de expresión, libertad y conexión. Por eso, más que vender tablas, queremos ser parte de tu progreso, de tus caídas y de cada truco que logres.

Esto no es solo skate. Es nuestra forma de vivir.

</P1>

</body>
</html>