<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patinetas</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <h1>Patinetas</h1>
    <nav>
    <a href="../index.html">Inicio</a>
    <a href="compe_sk2.html">Competencias.</a>
    <a href="index_3.html">Patinetas.</a>
    <a href="index_sk1.html">Nostros.</a>
</nav>

    <h2>Nuestras Patinetas locales</h2>
    
    <img src="../static/images/pepeelgrillo.jpg" alt="Bakers">
    <p1>Bakers a 160.000 mil Pesos</p1>

    
    

</body>
</html>